@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}
html,


/*------------------------------------------------------------ MENU -------------------------------------------------------------------------------*/


body {
  background-color: #191919;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

header img {
  /* width: 73px;*/
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-spacing: 5px;
  padding: 0 5px 0 5px;
  /*background-color: #ffffff;*/
  /*margin: auto;*/
  margin-right: 5px;
  /*margin-left: 5px;*/
}
/*header img {
  width: 7.5%;
  border-radius: 15px;
  display: flex;
  justify-content: left;
  padding: 2px;
  margin-left: 2%;
  margin-top: 0.5%;
*/

.logo img {
  /* width: 73px;*/
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-spacing: 5px;
  padding: 0 5px 0 5px;
  /*margin: auto;*/
  /*margin-right: 5px;*/
  /*margin-left: 5px;*/
  /*transition: transform 0.75s;*/
}
.logo a {
  padding: 0 0 0 5px;
  /*padding: 0;*/
}
.logo img:hover {
  background-color: #191919;
  border-radius: 15px;
  /*color: #ff6800;*/
}


.logo a:hover {
  /*transform: scale(120%);*/
  background-color: #ff6800;
  /* padding-bottom: 5px;
  padding-top: 5px;*/
}

header {
  background-color: #ff6800;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 92px;
  position: sticky;
  top: 0;
  box-shadow: 0 0 25px #000;
  padding: 5px 0 5px 0; /*zvětšení celého headeru*/
  z-index: 1000;
}
header ul a {
  display: inline-block;
  padding: 0px 50px;
  line-height: 85px;
  height: 100%;
  text-decoration: none;
  /* background-color: #ff6800;*/
  color: black;
  font-weight: 800;
  font-size: 25px;
  margin: 0 5px 0 0;
}
header ul a:hover {
  background-color: #191919;
  border-radius: 15px;
  color: #ff6800;
}
li {
  float: left;
  height: 100%;
  font-size: 100%;
}
ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  padding-right: 10px;
  margin: 0;
}
#home{
  display: none;
}
#logostranky {
  padding: 0px 0px;
  margin-bottom: 5px;
}
#logostranky a{
  width: 80px;
  height: 80px;
  background: url(image/logo_cryptem_New/logo_scryptem_b.png);
  background-size: 80px 80px;
  display: block;
  }
#logostranky a:hover{
  padding-bottom: 10px;
  background: url(image/logo_cryptem_New/logo_scryptem_o.png);
  background-size: 80px 80px;
  background-color: #191919;
  border-radius: 15px;
}
.logostranky-mm{
  display: none;
}

/*---------------------------------------------------------------------------------------------------*/
#logostranky-mobil img {
  /* width: 73px;*/
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border-spacing: 5px;
  padding: 0 5px 0 5px;
  background: #ff6800;
}
#logostranky-mobil a {
  padding: 0 0 0 5px;
  /*padding: 0;*/
}
#logostranky-mobil img:hover {
  background-color: #191919;
  border-radius: 15px;
}
#logostranky-mobil a:hover {
  background-color: #ff6800;
}

/*--------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------- MAIN -----------------------------------------------------------------------*/

main {
  margin: 1% 5%;
}

/*------------------------- E-Shop ---------------------*/

.categories {
  margin: 50px 0px;
  color: #ffffff;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
}

.title::after {
  content: "";
  background: #ff6800;
  width: 20%;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.shop {
  justify-content: center;
  display: flex;
  color: #ffffff;
  margin-top: 50px;
}

.item {
  text-align: center;
  flex-basis: 30%;
  min-width: 35%;
  margin-bottom: 25px;
  transition: transform 0.5s;
}

.item img {
  border-radius: 25px;
  width: 80%;
}

.item p {
  color: #ff6800;
  font-size: x-large;
  font-weight: bold;
}

.item h4 {
  text-align: center;
  color: white;
  font-size: x-large;
  font-weight: 600;
}
.item:hover {
  transform: scale(120%);
}
/*-------------------------- Bitcoin --------------------*/

/*---------------------- MAIN_HomePage ------------------*/

.main-1 h1 {
  color: #ffffff;
  font-size: xx-large;
  font-weight: 700;
  text-decoration: none;
}
.main-1 a {
  text-decoration: none;
}
.title-1 {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #ffffff;
  font-size: xx-large;
  font-weight: bold;
}

.title-1::after {
  content: "";
  background: #ff6800;
  width: 20%;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.button-a {
  display: flex;
  justify-content: center;
  transition: transform 0.5s;
  max-width: 100vw;
}
.button-a a {
  padding: 10px 70px;
  border-radius: 25px;
  background-color: #ff6800;
  color: #000;
  text-decoration: none;
  font-size: x-large;
  font-weight: 800;
  margin: 5%;
}
.button-a:hover {
  transform: scale(120%);
}
.shop-1 {
  margin: 50px 10%;
}
.news-1 {
  margin-bottom: 10vw;
}
.news-2 {
  justify-content: center;
  display: flex;
  transition: transform 0.5s;
  margin: 2vw 0;
}
.news-2 img {
  margin-top: 2vw;
  width: 70vw;
  border-radius: 2vw;
}
.news-2:hover {
  transform: scale(110%);
}
.price {
  margin-bottom: 4vw;
}
.btc {
  display: flex;
  justify-content: center;
  margin: 7.5%;
  color: #ffffff;
  font-weight: 600;
  font-size: 2vw;
  text-align: justify;
  transition: transform 0.25s;
}
.btc-1 img{
  width: 25vw;
  display: block;
  text-align: center;
  margin: 0px auto;
}
/*-------------------------- Altcoiny -------------------*/
.alt-1 {
  max-width: 1080px;
  margin: 5% auto;
  padding-left: 30px;
  padding-right: 30px;
}
.alt {
  justify-content: center;
  display: flex;
  color: #ffffff;
  margin: 8%;
}
.alts {
  text-align: center;
  flex-basis: 30%;
  min-width: 35%;
  margin-bottom: 25px;
  text-decoration: none;
  transition: transform 0.5s;
  margin: 0 5%;
}

.alts img {
  border-radius: 25px;
  width: 80%;
}

.alts p {
  color: #ffffff;
  font-size: large;
  font-weight: 500;
  text-align: center;
}

.alts h4 {
  text-align: center;
  color: #ff6800;
  font-size: xx-large;
  font-weight: 700;
}
.alts:hover {
  transform: scale(110%);
}
/*--------------------------- News ----------------------*/


/*------------------------------------------------------------------------------ FOOTER -------------------------------------------------------------------------*/


footer {
  background-color: #191919;
  box-shadow: -5px -5px 20px #000;
  padding: 10px;
  height: max-content;
}
footer img {
  width: 75%;
}
#copyright::after {
  content: "Copyright @ 2021";
  color: #797979;
}
footer li {
  display: block;
  justify-content: right;
}
.sbar li {
  width: 10%;
  margin: 10px -30px;
}
.zdroj {
  justify-content: right;
  display: flex;
  width: 25%;
  text-decoration: none;
  color: #ff6800;
  font-size: medium;
  font-weight: 600;
}

#copyright::after {
  content: "Copyright @ 2021";
  color: #7e7e7e;
}

.categories a {
  text-decoration: none;
}

#kosik {
  position: absolute !important;
  right: 20px;
  top: 20px;
  z-index: 10;
  width: 50px;
  height: 50px;
  color: #000;
}

#hamburger,
#logostranky-mobil {
  display: none;
}

/*---------------------------------------------------- RESPONSIVE -------------------------------------------------------*/

@media (max-width: 992px) {
  .sbar li {
    width: 300%;
  }
  .zdroj {
    width: 50%;
  }
  #kosik {
    display: none;
  }
  #hamburger {
    display: block;
    position: absolute !important;
    right: 20px;
    top: 15px;
    z-index: 10;
    color: #000;
    transition: 0.75s;
  }

  /*
  #logostranky-mobil {
    display: block;
    position: absolute !important;
    left: 20px;
    top: 15px;
    z-index: 10;
    color: #000;
    transition: 0.75s;
  }*/
  /*  #hamburger ::after{
    transform: translateY(-10%)
  }*/
  #mobile-menu {
    display: none;
    box-shadow: 15px 15px 15px #000;
    padding-bottom: 5px;
    /*margin-top: 60px;*/
  }
  #mobile-menu.active-menu {
    display: flex;
    background: #ff6800;
    width: 100vw;
    overflow: hidden;
  }
  #mobile-menu.active-menu ul {
    flex-direction: column;
    justify-content: flex-start;
  } /* 
  #mobile-menu.active-menu ul li {
    /* width: 100%; */ /*
  }*/
  #mobile-menu.active-menu #kosik {
    position: absolute !important;
    right: 20px;
    top: 85px;
    display: block;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  .shop .alt {
    flex-direction: column;
  }
  .item .alts {
    margin-top: 5%;
  }
  #home{
    display:flex;
    margin-left: 1vw;
  }
  #logostranky{
    display: none;
  }
  /*
  #mobile-menu.active-menu::after{
    transform: translate3d(10%)
  }*//*
  .logostranky-m a{
    width: 80px;
    height: 80px;
    background: url(image/logo_cryptem_New/logo_scryptem_b.png);
    background-size: 80px 80px;
    display: block;
  }
  .logostranky-m a:hover{
    padding-bottom: 10px;
    background: url(image/logo_cryptem_New/logo_scryptem_o.png);
    background-size: 80px 80px;
    background-color: #191919;
    border-radius: 15px;
  }*/
  .logostranky-mm{
    width:8.5ch;
    margin-left: 1ch;
    margin-top: 5px;
    z-index: 10;
    display: block;
  }
}
